@import "../buttons/button";

body {
  margin: 0;
  text-align: center;
}

.wrapperSummaryContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-left: 10em;
  margin-right: 10em;
  position: relative;
  min-height: 95vh;

  &:after {
    content: "";
    background-image: url("../../assets/paper.png");
    //background-position: center;
    //background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.9;
    top: 2em;
    left: 0;
    bottom: 1em;
    right: 0;
    position: absolute;
    z-index: -1;

    //margin-left: 10em;
    //margin-right: 10em;
  }

  h1 {
    //padding-top: 1em;
    font-family: bellotaregular;
    font-size: 2em;
  }

  .toStartButton {
    @include ButtonStyleBlue;
    align-self: center;
  }
  .wrapperResult {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //border: 1px solid red;
    div {
      font-family: bellotaregular;
      padding-left: 1em;
      padding-right: 1em;
      //border: 1px solid green;
      position: relative;
      span {
      font-weight: bolder;
      }

    }
    .resultImage {
      border: 1px solid grey;
      height: 10em;

    }
  }
}