@import "../buttons.scss";

.wrapperSummaryContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-left: 10em;
  margin-right: 10em;
  padding-left: 1em;
  &:after {
    content: "";
    background-image: url("../../assets/paper.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin-left: 10em;
    margin-right: 10em;
    height: 90%;
  }

  h1 {
    padding-top: 1em;
    padding-right: 1em;
    font-family: bellotaregular;
    font-size: 2em;
  }

  .toStartButton{
    @include ButtonStyleBlue;
  }
}