//*{
//  border: 1px solid red;
//}


//@media (min-width: 768px) {
body {
  background-image: url("../../assets/moscow.jpg");
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  &:before {
    background-color: #00c3ff;
  }

}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgray;
  font-family: robotoregular;
  font-weight: bold;
  font-size: 45px;
  background-image: url("../../assets/flag_empty.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  text-decoration: none;
  margin: 120px auto;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-image: url("../../assets/flag_full.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: grey;
  }
}

.mainContainer {
  padding-top: 4em;
  text-align: center;
  h1 {
    font-family: bellotaregular, sans-serif;
    font-size: 3em;
  }
  p {
    font-family: bellotaregular, sans-serif;
    font-size: 2em;
    margin-left: 10em;
    margin-right: 10em;
  }
  &:after {
    content: "";
    background-image: url("../../assets/paper.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin-left: 10em;
    margin-right: 10em;
    //margin-top: 1em;
    height: 90%;

    @media (max-width: 767px) {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

//}
@media (max-width: 767px) {
  padding-top: 10em;
  h1 {
    font-size: 2em;
  }
  p {
    //font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  &:after {
    content: "";
    //background-image: url("../../assets/paper.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    margin-left: 1em;
    margin-right: 1em;
    //margin-top: 1em;
    height: 90%;
  }
}
