//* {
//  border: 1px solid red;
//}

@import "../buttons.scss";


.wrapperLetterInfo {
  display: flex;
  flex-flow: column;
  //justify-content: center;
  align-items: center;
  margin-left: 10em;
  margin-right: 10em;
  padding-top: 2em;
  padding-left: 1em;
  font-family: bellotaregular;

  &:after {
    content: "";
    background-image: url("../../assets/paper.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin-left: 10em;
    margin-right: 10em;
    height: 90%;
  }

  .summaryButton {
    @include ButtonStyleOrange
  }

  .continueButton {
    @include ButtonStyleBlue
  }

  .buttonsWrapper {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }

  .letterDataContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5em;
    font-size: 1.5em;
    span {
      font-weight: bolder;
    }
    p {
      font-size: 2em;
      //color: ;
    }
  }
  .letterData{
    padding-left: 1em;
    padding-top: 2em;
    width: 30%;
  }
  .pictureContainer {
    padding-top: 3em;
    width: 30%;
  }
  .picture {
    height: 15em;
  }
}