//* {
//  border: 1px solid red;
//}

@import "../buttons/button";

.sketchContainer {
  display: flex;
  justify-content: space-around;
  margin-left: 10em;
  margin-right: 10em;
  //padding-left: 2em;
  p {
    padding-top: 2em;
    padding-left: 1em;
    font-family: bellotaregular;
    font-size: 2em;
  }
  .result {
    text-align: center;
    font-family: bellotaregular;
    font-size: 2em;
    font-weight: bold;
  }
  .wrapperDescriptionSketch {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  button {
    @include ButtonStyleBlue;
  }
  .buttonToLetterInfo {
    @include ButtonStyleRed;
  }
}

.wrapperSketchPad {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
  margin-top: 3em;
  margin-right: 3em;
  margin-left: 1em;
  //background-color: white;

  &:after {
    content: "";
    background-image: url("../../assets/paper.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin-left: 10em;
    margin-right: 10em;
    height: 90%;
  }

}

.wrapperExtraButtons {
  display: flex;
  justify-content: center;
  .skipAllButton {
    @include ButtonStyleOrange;
  }
  .skipButton {
    @include ButtonStyleBlue;
  }

}